@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto&family=Satisfy&family=Tektur:wght@400;800&display=swap');


.featuredProductsMain {


    position: relative;
    border-radius: 10px;
    width: 90vw;
    height: max-content;
    background-color: rgb(246, 245, 245);
    left: 2vw;
    padding-top: 1vw;
    margin-left: 3vw;
}

.featuredProducts {
    display: flex;
    flex-wrap: wrap;
}

.featuredProductsMain h1 {
    font-family: 'Poppins', sans-serif;
    opacity: 0.6;
}

